<nav class="navbar">
  <mat-toolbar>
    <header class="navbar-header">
      <mat-toolbar-row>
        <img src="../../../assets/img/agora.png" />
      </mat-toolbar-row>
    </header>
  </mat-toolbar>
  <mat-nav-list>
    <a class="username" mat-list-item routerLink='/home/user'>
      <h3>{{user.fullName}}</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink='/home/my-activity'>My Activity</a>
    <a mat-list-item routerLink='/home/lost'>Takes</a>
    <a mat-list-item routerLink="/home/found">Gives</a>
    <a mat-list-item routerLink="/home/search">Search</a>
    <mat-divider *ngIf="user.admin"></mat-divider>
    <a *ngIf="user.admin" mat-list-item routerLink="/home/admin">Users</a>
    <a *ngIf="user.admin" mat-list-item routerLink="/home/stats">Stats</a>
  </mat-nav-list>
</nav>
