mat-divider {
    border-color: #f4fcff;
}

.navbar-header {
    margin-top: 20px;
    
}

.profilePic {
    border: 1px solid black;
    width: 4em;
    height: 4em;
    border-radius: 2em;
}

.navbar {
    width: 13em;
    margin-left: 1em;
    color: #f4fcff !important; 
}

mat-toolbar {
    background: #6391b7;
}

a.username {
    margin-bottom: 15px;
    margin-top: 15px;
}

.mat-list-item {
    color: #f4fcff !important;
}
