<style>
    mat-grid-tile div {
      width: 100%; display: flex; align-items: flex-end;
    }

    mat-form-field {
      width: 100%;
      align-self: left;
    }

</style>
<form (ngSubmit)="onSubmit()" #createForm="ngForm">
<h2 mat-dialog-title>Publish a new take or give item</h2>
<mat-dialog-content>
  <mat-grid-list cols="3" rowHeight="3:1" gutterSize="10px">  
    <mat-grid-tile>
      <div>
          <mat-form-field appearance="outline">
            <mat-label>Give or Take?</mat-label>
            <mat-select placeholder="Give or Take?" name="kind" [(ngModel)]="item.kind">
              <mat-option *ngFor="let kind of kinds" [value]="kind" required>
                {{kind}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Item name</mat-label>
          <input matInput placeholder="e.g. iPhone XS" name="name" [(ngModel)]="item.name" required>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select placeholder="Category" name="category" [(ngModel)]="item.category" required>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput placeholder="e.g. White" name="color" [(ngModel)]="item.color" required>
          </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input ngx-google-places-autocomplete matInput placeholder="e.g. 42 st. Subway, NYC" name="location" [(ngModel)]="item.location.name" (onAddressChange)="handleAddressChange($event)" required>
          </mat-form-field>
      </div>
    </mat-grid-tile>
  <mat-grid-tile>
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Time of incident</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="create_time" [(ngModel)]="item.create_time" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
  </mat-grid-tile>
  </mat-grid-list> 
  <div>
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" rows=5 [(ngModel)]="item.description"></textarea>
      </mat-form-field>
    </div>      
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button cdkFocusInitial>Create</button>
</mat-dialog-actions>
</form>
