.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right bottom, rgba(238, 232, 207, 0.897), rgba(243, 192, 125, 0.822)), url(../../../assets/img/bgphoto.jpg);
  width: 100%;
}

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

.sidenav {
  width: 22em;
  background-image: linear-gradient(#83732b 50%, #d8a13b);
  border-right: 1px solid gray;
}
