.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox {
  margin-top: 4em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30em;
  background: rgb(255, 231, 231);
  width: 30em;
  border: rgb(224, 201, 201) 1px solid;
}

.title {
  width: 20em;
  text-align: center;
  text-shadow: 2px 2px 8px rgb(245, 198, 198);
}

.profileEdit {
  width: 20em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileDetails {
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editButtons {
  width: 20em;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editBut {
  background-color: rgb(168, 204, 250);
  border-radius: 10em;
  margin-bottom: 1em;
}

.messageLabel {
  margin-top: 1em;
}
