mat-grid-tile div {
    width: 100%; display: flex; align-items: flex-end;
  }

th, td {
  padding: 10px;
  text-align: left;
}

td:first-child {
  font-weight: bold
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

#edit-btn {
  text-align: right;
  margin-top: 35px;
  margin-bottom: 10px;
}

.item-desc {
  border-radius: 10px;
  background: #f2f2f2;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

.noItems{
  color: dimgrey;
}

.twitter {
  margin-left: 10px;
  background-color: #00aced;
  color: white;
}
