<section class="mainView">
  <div class="title">
    <h1>My Activity</h1>
    <app-create-item></app-create-item>
  </div>

  <mat-divider style="margin-top: 20px"></mat-divider>

  <section class="title">
    <h3>Unread Messages </h3>
    <mat-chip-list>
      <mat-chip>{{messagesAmount}}</mat-chip>
    </mat-chip-list>
  </section>

  <app-my-messages></app-my-messages>

  <div class="title">
    <h3>Items</h3>
  </div>

  <app-list-item [user_id]="user_id"></app-list-item>
  <br><br>

  <iframe width="360" height="215" src="https://www.youtube.com/embed/CrzFa6cimbQ" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>

<div class="prediction">
  <h3>Usage prediction</h3>
  <input [(ngModel)]="gender" type='text' class='gender' placeholder="gender">
  <input [(ngModel)]="age" type='text' class='age' placeholder="age">
  <button (click)='sendPrediction()' class='predict'>Predict</button>
  <span>{{result}}</span>
</div>

<footer>
  <p> Our site is for free give and take products, for nice people, to shate love and recycle our life!
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</footer>
