div.mainView {
  width: 1024px;
  margin-left: 20px;
}

div.title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.prediction {
  margin: 20px;
}

.prediction input {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
}

.prediction button {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

iframe {
  border-radius: 50px;
}

footer {
  margin-top: 30px;
  bottom: 0;
  column-count: 5;
}
